<footer>
  <div class="main_bottom_container">
    <div class="terms">
      <a href="/privacy">Privacy</a>
      <a href="/term">Terms</a>
      <a href="/product/partner">Be Partner</a>
    </div>
    <div class="social">
      <a href="https://www.github.com"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="copyright">
      <span>&copy;2025 Ghumo.Com</span>
    </div>
    <div class="love">
      <span>Made with <span class="heart">&hearts;</span> By Vikash</span>
    </div>
  </div>

</footer>